<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>发票申请</title>
    <meta charset="UTF-8"/>
    <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="index.css"/>
    <!--导入jquery.js-->
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.blockUI.js"></script>
    <!--导入bootstrap.js-->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/js/bootbox.min.js"></script>


</head>
<body>
<p></p>
<p></p>
<!--
<form  action="/receipt"  method="post">
-->
<div id="from-div">
    <form id="myForm" onsubmit="return false">
        <div class="form-group">
            <p>&nbsp;&nbsp;
                <label>抬头类型</label>
            </p>
            <input type="text" id="headtype" name="headtype" hidden="hidden" value="01"/>
            <ul>
                <li class="active" value="01">企业<i class="icon">√</i></li>
                <li value="03">个人<i class="icon">√</i></li>
            </ul>
        </div>

        <div class="form-group">
            <p>&nbsp;&nbsp;
                <label style="color:red">*</label>
                <label for="headname">名称</label>
            </p>
            <input type="text" class="form-control" id="headname" name="headname" placeholder="请输入抬头名称"
                   required="required" maxlength="40"/>
        </div>

        <div class="form-group">
            <p>&nbsp;&nbsp;
                <label id="taxflag" style="color:red">*</label>
                <label for="taxno" id="taxnolabel">纳税人识别号</label>
            </p>
            <input type="text" class="form-control" id="taxno" name="taxno" placeholder="请输入税号" maxlength="30"
                   required="required"/>
        </div>
        <div class="form-group">
            <p>&nbsp;&nbsp;
                <label style="color:red">*</label>
                <label for="mobile">手机</label>
            </p>
            <input type="text" class="form-control" id="mobile" name="mobile" placeholder="请输入手机号码" maxlength="11"
                   required="required" pattern="^1[3456789][0-9]{9}$"/>
        </div>
        <div class="form-group">
            <p>&nbsp;&nbsp;
                <label style="color:red">*</label>
                <label for="email">邮箱</label>
            </p>
            <input type="text" class="form-control" id="email" name="email" placeholder="请输入邮箱" maxlength="30"
                   required="required" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
        </div>
        <div class="form-group">
            <p>&nbsp;&nbsp;
                <label for="tel">固话</label>
            </p>
            <input type="text" class="form-control" id="tel" name="tel" placeholder="请输入固定电话" maxlength="15"/>
        </div>
        <div class="form-group">
            <p>&nbsp;&nbsp;
                <label for="address">地址</label>
            </p>
            <input type="text" class="form-control" id="address" name="address" placeholder="请输入地址" maxlength="80"/>
        </div>

        <div class="form-group">
            <p>&nbsp;&nbsp;
                <label for="bankname">开户银行</label>
            </p>
            <input type="text" class="form-control" id="bankname" name="bankname" placeholder="请输入开户银行" maxlength="60"/>
        </div>

        <div class="form-group">
            <p>&nbsp;&nbsp;
                <label for="accountno">银行账号</label>
            </p>
            <input type="text" class="form-control" id="accountno" name="accountno" placeholder="请输入银行账号"
                   maxlength="30"/>
        </div>
        <input type="hidden" class="form-control" id="id" name="id" th:value="${data}"/>

        <span class="form-group">

        <button class="btn btn-primary btn-lg btn-block" type="submit" id="submit" name="submit">提交</button>


    </span>
    </form>
</div>
<div class="modal fade" id="alert_like" tabindex="-1">
    <!-- 窗口声明 -->
    <div class="modal-dialog modal-sm">
        <!-- 内容声明 -->
        <div class="modal-content">
            <div class="modal-body">
                <strong><span id="message" th:text="${message}"></span></strong>
            </div>
            <div class="modal-footer">
                <button id="ok_btn" class="btn btn-sm btn-warning" data-dismiss="modal">确 定</button>
            </div>

        </div>
    </div>
</div>



<script type="text/javascript">
    $(function () {
        $("ul li").click(function () {
            $(this).addClass('active').siblings().removeClass('active');
            if ($(this).attr("value") == "01") {
                $('#taxflag').removeAttr("hidden");
                $('#taxflag').attr("style", "color:red");
                $('#taxno').attr("required", "true");
                $('#headtype').val('01');

                $('#headname').val('');
                $('#taxno').val('');
                $('#address').val('');
                $('#tel').val('');
                $('#email').val('');
                $('#bankname').val('');
                $('#accountno').val('');
                $('#mobile').val('');
            }
            else {
                $('#taxflag').attr("hidden", "true");
                $('#taxno').removeAttr("required");
                $('#headtype').val('03');

                $('#headname').val('');
                $('#taxno').val('');
                $('#address').val('');
                $('#tel').val('');
                $('#email').val('');
                $('#bankname').val('');
                $('#accountno').val('');
                $('#mobile').val('');
            }
        })
    })

    $('#headname').val('');
    $('#taxno').val('');
    $('#address').val('');
    $('#tel').val('');
    $('#email').val('');
    $('#bankname').val('');
    $('#accountno').val('');
    $('#mobile').val('');




</script>
</body>
<script type="text/javascript" src="invoice.js"></script>


</html>